
body{margin:0px;padding:0px;font-size:12px;background:url(../images/bg.gif);background-color:#003366;}
a:link{color:#333333;text-decoration:none;}
a:visited{color:#333333;text-decoration:none;}
a:hover{color:#ff3300;}
.red a:link{color:#cc0000;}
.red a:visited{color:#cc0000;}
.red a:hover{color:#ff3300;}
.blue a:link{color:#003399;}
.blue a:visited{color:#003399;}
.blue a:hover{color:#ff3300;}
.menu{background:url(../images/menu_bg.gif);background-color:#cc0000;color:#ffffff;}
.wz{text-align:center;width:1000px;overflow:hidden;}
.menu .wz a{height:33px;line-height:33px;color:#ffffff;padding-left:8px;}

.tt{float:left;width:240px;overflow:hidden;}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }
.menuBottom{background:url(../images/menu_bottom.gif);background-color:#efefef;height:39px;line-height:39px;}
.leftBg{background:#cc0000;}
.rightBg{background:#FBF8EE;}
.leftTitle{background:#cc0000;height:30px;line-height:30px;color:#ffffff;font-weight:bold;font-size:14px;text-align:left;text-indent:10px;}
.leftTitle1{background:url(../images/left_menu.gif);text-align:center;color:#cc0000;font-weight:bold;font-size:14px;height:26px;line-height:26px;}
.leftBottomBg{background:url(../images/leftBg.gif) no-repeat  center bottom;}
.newsTitle{background:url(../images/top_title1.gif) no-repeat;height:23px;line-height:23px;color:#ffffff;font-weight:bold;font-size:14px;text-indent:20px;}
.newsTitle a{color:#ffffff;}
.newsTitle2{border-bottom:2px #cc0000 solid;}
.titleBg{background:url(../images/titleBg.gif);background-color:#efefef;font-size:14px;font-weight:bold;}
.titleCont{border-left:1px #e0dede solid;border-right:1px #e0dede solid;border-bottom:1px #e0dede solid;}
.linkName{color:#000000;font-size:14px;font-weight:bold;border-bottom:2px #cc0000 solid;text-indent:10px;}
.linkBg{background:#f1f1f1;}

.newst{padding-top:10px;font-size:12px;}
.newst a:link{text-decoration:;}
.newst a:hover{color:#ff3300;}
.downnews{padding-top:10px;line-height:26px;}
.downnews a:link{color:#ffffff;}
.downnews a:visited{color:#ffffff;}
.downnews a:hover{color:#ffff00;}
.news-top{padding-top:5px;padding-bottom:5px;}
.picbox{overflow:hidden;height:140px;width:750px;}
.line-i{line-height:25px;}
.line-top{margin-top:10px;}
.titlep{ padding-left:5px;padding-right:10px;}
.rightMenu{width:233px;height:34px;background:url(../images/rightMenu_on.gif) no-repeat;background-color:#ffffcc;text-align:left;font-size:14px;font-weight:bold;line-height:34px;text-indent:40px;display:block;margin:5px auto;}
.rightMenu a{color:#cc3300;text-decoration:none;display:block;}
.rightMenu a:link{color:#cc3300;text-decoration:none;display:block;}
.rightMenu a:visited{color:#cc3300;text-decoration:none;display:block;}
.rightMenu a:hover{color:#ff0000;text-decoration:underline;display:block;background:url(../images/rightMenu_off1.gif) no-repeat;}
.rightMenuTop{background:#cc0000;}
.rigthBoxTop{margin-top:10px;}
.rightBox{border:1px #cc0000 solid;}
.rightTitle{font-size:14px;color:#ffffff;font-weight:bold;}
.mBottom{margin-bottom:10px;}
.cPage{font-size:14px;color:#003399;}
.cPage a{color:#003399;}
.cTop{margin:10px auto;}
.cTop a{font-size:12px;line-height:28px;}
.cTop a:link{color:#003399;}
.cTop a:visited{color:#003399;}
.cTop a:hover{color:#ff3300;}
.leftCBox{background:#f5f9e7;border-right:1px #cccc99 solid;}
.leftCBoxTop{background:#ffffff;border-top:1px #cccc99 solid;}
.nextBox{margin:20px auto;}
.newsBoxp{padding:10px;}
.newsBoxp a:link{color:#003399;}
.newsBoxp a:visited{color:#003399;}
.fontS{font-size:12px;font-weight:normal;}
.hotnews{
	background-image: url(../images/rightTop.gif);
	background-repeat: no-repeat;
	background-position: left center;
margin:10px; 10px 10px 5px;
padding-left:20px;
}
.hotnews a:link{color:#003399;}
.hotnews a:visited{color:#003399;}
.annou{margin:5px 10px;font-size:12px;line-height:23px;}
.annou a{color:#ffffff;}
.annou a:visited{color:#ffffff;}
.titleLine2{border-top:1px #becde5 solid;}
h1{font-size:22px;color:#cc0000;line-height:60px;margin:0px;}
.yjnews{color:#cc0000;font-weight:bold;font-size:14px;padding-top:13px;}
.annbg{background:url(../images/annbg.gif) no-repeat;height:26px;line-height:26px;text-align:left;text-indent:20px;color:#ffffff;font-size:14px;font-weight:bold;}
.fpic {BORDER-RIGHT: #cc0000 1px solid; BORDER-TOP: #cc0000 1px solid; Z-INDEX: 3; BACKGROUND: #fef9e7; BORDER-LEFT: #cc0000 1px solid; WIDTH: 401px; PADDING-TOP: 4px; BORDER-BOTTOM: #cc0000 1px solid; POSITION: relative; HEIGHT: 230px; TEXT-ALIGN: center}
.bpic {FLOAT: left; MARGIN: 0px; WIDTH: 244px; POSITION: relative; HEIGHT: 233px}
#focpic {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 1px; BORDER-BOTTOM-WIDTH: 0px; POSITION: absolute; TOP: 1px; BORDER-RIGHT-WIDTH: 0px}
.thubpic {PADDING-RIGHT: 0px; PADDING-LEFT: 4px; Z-INDEX: 20; PADDING-BOTTOM: 6px; WIDTH: 63px; CURSOR: pointer; PADDING-TOP: 0px; TOP: 10px; HEIGHT: 49px}
.thubpiccur {PADDING-RIGHT: 0px; PADDING-LEFT: 4px; Z-INDEX: 20; PADDING-BOTTOM: 6px; WIDTH: 63px; CURSOR: pointer; PADDING-TOP: 0px; TOP: 10px; HEIGHT: 49px}
.thubpiccur {Z-INDEX: 30; BACKGROUND: url(../images/picico.gif) no-repeat left 50%}
.thubpic IMG {BORDER-RIGHT: #ff8300 3px solid; BORDER-TOP: #ff8300 2px solid; BORDER-LEFT: #ff8300 3px solid; WIDTH: 56px; BORDER-BOTTOM: #ff8300 2px solid; HEIGHT: 42px}
.thubpiccur IMG {BORDER-RIGHT: #666 3px solid; BORDER-TOP: #666 2px solid; BORDER-LEFT: #666 3px solid; WIDTH: 56px; BORDER-BOTTOM: #666 2px solid; HEIGHT: 42px}
.thubpiccur IMG {BORDER-LEFT-COLOR: #cc0000; BORDER-BOTTOM-COLOR: #cc0000; BORDER-TOP-COLOR: #cc0000; BORDER-RIGHT-COLOR: #cc0000}
.column392 {FLOAT: left; WIDTH: 403px}
.colPicTop{width:403px;background:url(../images/pic_top.gif);height:16px;}
.newscj {MARGIN: 15px auto; TEXT-ALIGN: center}
.newscj a{FONT-WEIGHT: bold; FONT-SIZE: 20px;  COLOR: #ff0000; text-decoration:none;}
.newscj a:link{color:#ff0000;text-decoration:none;}
.newscj a:visited{color:#ff0000;text-decoration:none;}
.newscj a:hover{color:#ff9900;}
.topTitle{width:360px;height:30px;padding-top:20px;padding-left:30px;font-weight:bold;background:url(../images/topNews.gif) no-repeat;}
.topTitle a{color:#cc0000;text-decoration:none;font-size:16px;}
.psBg{width:111px;height:92px;background:url(../images/psbg.gif) no-repeat;padding:8px 8px 12px 8px;}

/*Í¼Æ¬ÐÂÎÅ*/
.picBox{width:987px;height:74px;background:url(../images/BgStyle.gif) 0px 0px no-repeat;margin:0px auto;}
.picBottom{width:987px;height:15px;background:url(../images/BgStyle.gif) 0px -108px no-repeat;margin:0px auto;}
.picCen{width:985px;height:366px;border-left:1px #CCCCCC solid;border-right:1px #CCCCCC solid;margin:0px auto;}

.picRight{float:right;width:616px;padding-right:15px;}
.picBox2{width:616px;background:url(../images/BgStyle.gif) 0px -139px no-repeat;}
.picBox2 .picTitle{height:26px;line-height:26px;font-size:14px;font-weight:bold;text-indent:35px;color:#333333;text-align:left;text-indent:35px;}
.picBox2 .picTitle .right{float:right;padding-right:20px;font-size:12px;font-weight:normal;}
.picBox2 .picShow{height:130px;padding:10px 0px;}

.picLeft{float:left;width:330px;padding-left:15px;}
.picBox3{width:300px;height:330px;border:1px #E7E7E7 solid;padding:10px;}

.phoshow{width:124px;height:97px;background:url(../images/BgStyle.gif) -866px -643px no-repeat;padding:6px;}
.mainBox{width:1002px;margin:0px auto;background:#ffffff;}

.tjline{padding-left:15px;line-height:24px;}
.footTop{background:url(../images/footBg2.gif) bottom center repeat-x;height:8px;overflow:hidden;}
.foot{height:110px;background-color:#cc0000;background:url(../images/footBg.gif);color:#ffffff;line-height:22px;}

.foot a{color:#ffffff;}

.flink li{float:left;list-style:none;width:108px;margin-top:5px;}

.showpage{}
.showpage li{display:inline;list-style:none;margin-left:3px;}
.thisclass{color:red;font-weight:bold;}
.Content{FONT-SIZE: 14px; LINE-HEIGHT: 32px}
.Content p{font-size:100%}

